{% extends "notes/base.html" %}
{% block content %}
    <!-- Основной контент -->
        <h1>Мои заметки</h1>
        <!-- Django: если есть заметки -->
        {% if notes %}
            <!-- Django: цикл по заметкам -->
            {% for note in notes %}
            <div class="note">
                <!-- Вывести заголовок заметки -->
                <h2><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></h2>

                <!-- Вывести текст заметки -->
                <p>{{ note.content }}</p>

                <!-- Вывести дату создания -->
                <div class="date">Создано: {{ note.created_at|date:"d.m.Y H:i" }}</div>
            </div>
            {% endfor %}
        {% else %}
            <!-- Если заметок нет -->
            <div class="empty">
                <p>Пока нет заметок. Добавьте их через админку.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}